body {
	margin: 0;
	padding: 0;
	
	font-family: Arial, Roboto, Montserrat;
	font-size: 14px;
	line-height: 26px;
	font-weight: 
	color: #fff;
	
	background-color: #fff;
}

.main-navigation {
 /* Временно для сетки */
 min-height: 100px;
 background-color: transparent;
}

.site-navigation {
	width: 620px;
	margin: 0;
	padding: 0;
	
	list-style: none;
	
	min-height: 70px;
}

.main-header-avatar {
	order: 2;
	width: 135:
	heigth: 135;

}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}



