body {
	margin: 0;
	padding: 0;
	
	font-family: Arial, Roboto, Montserrat;
	line-height: 13px;
	font-weight: 20px
	background-color: #fff;
	list-style: none;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-size: 16px;
	line-height: 20px;
	color: #304658;
	
	background-color: #2c414e;
}

.site-navigation,
.user-navigation {
	list-style: none;
}

.Contacts {
	list-style: none;
}

.education,
.education-list {
	list-style: none;
}

.skills,
.skills-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.skills {
	margin: 0;
	padding: 0;
	width: 260px;
}

.education {
	margin: 0;
	padding: 0;
	width: 260px;
}

.experience {
	margin: 0;
	padding: 0;
	width: 260px;
}

.experience,
.experience-list {
	list-style: none;
}

.site-navigation a,
.user-navigation a {
	color: #fff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	background-color: #d5d5d5;
}

.feature-item: {
	text-align: center;
}


h1 {
	font-family: Montserrat;
	font-size: 36px;
	font-weight: bold;
    text-align: center;
	color: #00aaec;
}

h2 {
	font-family: Roboto;
	font-size: 28px;
	font-weight: black;
	color: #00aaec;
}

h3 {
	font-family: Arial;
	font-size: 19px;
	font-weight: bold;
	color: #304658;
}

p {
	font-family: Arial;
	font-size: 13px;
	font-weight: regular;
	color: #304658;
	
}

.main-navigation {
     min-height: 50px;
     background-color: #000;
	 align-items: center;
}


.site-navigation {
	width: 620px;
	margin: 0;
	padding: 0;
	list-style: none;
	min-height: 70px;
}

.main-header-avatar {
	order: 2;
	width: 135:
	height: 135;
}

.container {
	width: 860px;
	margin: 0 auto;
	padding: 0 10px;
}

.index-columns {
	padding: 50px 80px;
	display: flex;
	
}