body {
	margin: 0;
	padding: 0;
	
	font-family: Arial, Roboto, Montserrat;
	line-height: 26px;
	font-weight: 
	color: #fff;
	background-color: #fff;
}

h1 {
	font-family: Montserrat;
	font-size: 36px;
	font-weight: bold;
    text-align: center;
	color: #00aaec;
}

h2 {
	font-family: Roboto;
	font-size: 28px;
	font-weight: black;
	color: #00aaec;
}

h3 {
	font-family: Arial;
	font-size: 19px;
	font-weight: bold;
	color: #304658;
}

p {
	font-family: Arial;
	font-size: 13px;
	font-weight: regular;
	color: #304658;
	
}

.main-navigation {
 min-height: 100px;
 background-color: transparent;
}

.site-navigation {
	width: 620px;
	margin: 0;
	padding: 0;
	list-style: none;
	min-height: 70px;
}

.main-header-avatar {
	order: 2;
	width: 135:
	height: 135;

}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

